*{
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar{
	display: none;
}
.side_list{
	width: 245px;
	height: 360px;
	color: #FFFFFF;
	padding-top:35px;
	padding-bottom: 45px;
border-radius: 5px;
	position: relative;
	left: 10%;
	background-color: #393f48;
	overflow: scroll;
}

.li2{
	cursor: pointer;
    text-align: left;

}



.a3{
	text-decoration: none;
	margin-left: 20px;
	color: white;
	font-size: 14px;
	line-height: 60px;
}
.a3:hover{

	font-size: 16px;
}

hr{
	border: 0px;
	 background-color:#5e646c;
	 height:1px;
 }


#product{

	display: none;

}



#productAll{
	margin-left: 20px;
	color: white;
	font-size: 14px;
	line-height: 60px;


}


#category{
	display: none;



}
#categoryAll{
	margin-left: 20px;
	color: white;
	font-size: 14px;
	line-height: 60px;
}

