<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.CartDao">
    
    
    <insert id="addCart" parameterType="com.neuedu.entity.Cart" statementType="PREPARED" keyColumn="cartid" keyProperty="cartid" useGeneratedKeys="true">

  insert into cart(num,product_id,quantity)  values(#{cart_no},#{product.productid},#{quantity})

  </insert>

    <resultMap id="cart-product" type="com.neuedu.entity.Cart" autoMapping="true">
        <id property="cartid" column="cartid"></id>


<association property="product" column="product_id" javaType="com.neuedu.entity.Product" autoMapping="true">

    <id property="productid" column="productid"></id>


</association>


    </resultMap>
    <select id="findAllCart" resultMap="cart-product">

  select c.num AS cart_no,c.cartid AS id, c.product_id  productid, c.quantity  ,p.pname,p.detail,p.image,p.stock,p.price,p.rule from cart c  left join product p on c.product_id=p.productid


    </select>


    <delete id="deleteCart" parameterType="java.lang.Integer" >
        delete from cart where cartid=#{id}
    </delete>

<delete id="clearCart" >
    delete from cart
</delete>


    <select id="findById" resultType="com.neuedu.entity.Cart" parameterType="java.lang.Integer">

    select * from cart where cartid=#{id}

    </select>


    <update id="updateCartNum" parameterType="Map" >


        update  cart set quantity=#{arg1} where cartid=#{arg0}

    </update>

</mapper>